.DS_Store
*/**/node_modules
*/**/dist
*/.dist
*/.aws-sam/*
**/__pycache__
*/package.dev.yaml

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
samconfig.toml